body {
    background-color: #F5F6FA;
    overflow-x: hidden;
}

.Main {
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 90%;
    max-width: 100%;
    min-height: 380px;
    justify-content: center;
    align-items: center;
    margin: 130px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Main #ThongTin,
.Main #Click {
    margin-top: 20px;
}

.Main #ThongTin h2,
.Main #Click h2 {
    text-align: center;
}

.Main #ThongTin form,
.Main #Click form {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Main #ThongTin input,
.Main #Click button {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 80%;
    outline: none;
    height: 30px;
    font-weight: bold;
}

.Main #Click {
    background-color: #FFFFCC;
    text-align: center;
}

.Main #Click img {
    width: 100px;
    height: auto;
}

.Main #Click button {
    margin-top: 10%;
    border-radius: 20px;
    width: 250px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #059862;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    font-weight: bolder;
    font-size: 18px;
    display: block;
}

.Main #Click a {
    text-decoration: none;
    color: white;
}

.Main #Click button:active {
    transform: scale(0.96);
}

.navbar {
    background: #199d6a;
    color: #222;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, .07);
}

.navbar-brand img {
    width: 130px;
    height: auto;
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: .2px;
    color: white;
    border-radius: 22px;
    padding: 8px 16px;
}

.navbar-nav .nav-link:hover {
    color: black;
    background: #a7f0d4;
    transition: 0.25s;
    cursor: pointer;
}

.carousel .carousel-item img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 100%;
}

.content {
    max-width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-floating input,
.form-floating textarea {
    width: 100%;
}

.btn-contact {
    transition: all .2s ease-in-out;
    color: #fff !important;
    border: 0;
    font-size: 1rem;
    padding: 10px 50px;
    outline: none;
    letter-spacing: .2px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    text-transform: uppercase;
    margin-top: 15px;
    white-space: normal;
    font-weight: bold;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.small-navbar {
    border-top: 1px solid #ddd;
    padding: 5px 0;
    text-align: left; 
  }
  
  #backButton {
    display: inline-flex;
    align-items: center;
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    width: 5%;
  }
  
  #backButton i {
    margin-right: 5px;
  }
